.dailyTopic {
    overflow-y: scroll;
    width: 1000px;
    height: 500px;
    margin: 15px;
    background-color: #F1F3F3    
  }
  .bar {
      fill: #6F257F;
  }
  .axis path, .axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  .x path {
      display: none;
  }
  .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #161517;
    padding: 14px;
    text-align: center;
  }


table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.datepicker {
  width: 255px;
}
/* packed bubble chart */
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

/* Storyboard */

.storyboard{
  margin-left: -125px;
  margin-right: -125px;
}

ul {
  list-style-type: none;
}
 
li {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  overflow: auto;
  background-color: whitesmoke;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

.selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
  border:1px solid #cccccc;
}
.selectBox{
  width:140px;
  height:40px;
  border:0px;
  outline:none;
  float:center;
}